body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2rem;
  color: #333;
}

.category {
  margin: 20px auto;
  max-width: 800px;
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.menu-item:last-child {
  border-bottom: none;
}

.item-name {
  font-weight: bold;
}

.item-price {
  color: #555;
  font-weight: bold;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.menu-item-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.add-item,
.add-category {
  margin-top: 15px;
}

input {
  padding: 5px;
  margin-right: 5px;
}

button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #c82333;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-category-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-category-button:hover {
  background-color: #c82333;
}

.toggle-form-button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.toggle-form-button:hover {
  background-color: #0056b3;
}

.add-item {
  margin-top: 10px;
}

.add-item input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-item-button {
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-item-button:hover {
  background-color: #218838;
}
